/* Extra small devices (phones) */
@media only screen and (max-width: 840px) {
  .trialDeets {
    background-color: black;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
  }
  .trialScoreDiv {
    /* max-width: 30%; */
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
  }
  .trialDeets .chartCrudBtns {
    display: flex;
    justify-content: space-between;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
  .trialDeets {
    background-color: black;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
  }
  .trialScoreDiv {
    max-width: 30%;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
  }
  .trialDeets .chartCrudBtns {
    display: flex;
    justify-content: left;
  }
}

.trialDeets div {
  padding: 0px 5px 5px 5px;
  width: 100%;
}

.trialDeets div:last-child {
  border-bottom: none;
}

.trialInfo {
  display: flex;
  flex-flow: column nowrap;
}

.trialInfo div {
  /* padding: 0 10px 0 0; */
  box-sizing: border-box;
}

.trialInfo :last-child {
  box-sizing: border-box;
  /* padding: 0 10px 0 0; */
}

.dtDeets {
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.dtPercent {
  width: 30%;
}

.dtDeets div {
  border-bottom: 1px solid rgb(150, 150, 150);
  padding: 5px 5px 5px 0;
  display: flex;
}

.dtDeets div:first-child {
  padding: 0 0 5px 0;
}

.dtDeets div:last-child {
  border-bottom: none;
  padding: 5px 5px 0 0;
}

.trialDeets label {
  padding: 0 5px 0 0;
  color: orange;
}

.trialAttempts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.percent {
  font-size: 22px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
