/* Extra small devices (phones) */
@media only screen and (max-width: 840px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
}

.chartOptions {
  display: flex;
  /* flex-flow: row wrap; */
  width: 100%;
  gap: 10px;
  margin: 10px 0 0 0;
  justify-content: center;
}

.chartOptions #createChartBtn {
  margin: 10px 0 0 5px;
}

.chartOptions label {
  padding: 0px;
}

.chartDisplayArea {
  width: 100%;
}

.clientNDp {
  /* border: 1px solid white; */
  display: flex;
  flex-flow: column wrap;
}

.chartOptions .newChartMenu {
  display: flex;
  flex-flow: row wrap;
  /* border: 1px solid red; */
}

.chartView {
  /* display: flex; */
  /* flex-flow: row-reverse nowrap; */
  gap: 10px;
  width: 100%;
  /* align-items: center;
  justify-content: center; */
}

.custom-tooltip {
  background-color: black;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  width: 150px;
  cursor: pointer;
}

.chartContain {
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  margin: 20px 0 20px 0;
}

.dateDivider {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.dateDivider input {
  flex-grow: 1;
}

.chartTypeContain {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.chartTypeContain button {
  flex-grow: 1;
  height: 50px;
  border-radius: 10px;
}
