.deleteModalContain {
  width: 50vw;
  height: auto;
  padding: 20px;
  text-align: center;
  /* box-sizing: border-box; */
}

h1 {
  padding: 0px;
  margin: 0px;
}

#modalDelBtn,
#modalCancelBtn {
  padding: 10px 0 10px 0;
  width: 50%;
  cursor: pointer;
  margin: 20px 0 0 0;
}

#confirmInput {
  text-align: center;
}

.deleteMessageContain {
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  border: 3px solid green;
  border-radius: 10px;
}
