@media only screen and (max-width: 600px) {
  .createClient {
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 0;
  }

  .createClient .mainDisplayContain {
    display: flex;
    margin: 0;
  }

  #closeBtn {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 601px) {
  .createClient {
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
  }
  #closeBtn {
    position: absolute;
    right: 35px;
    top: 70px;
    cursor: pointer;
  }
}

#clientNotes {
  /* width: 100%; */
  font-size: 16px;
  resize: none;
}

.formButton {
  width: 50%;
  height: 5vh;
  font-size: 1.2em;
  font-weight: bolder;
}
.formButtonDisabled {
  width: 50%;
  height: 5vh;
  font-size: 1.2em;
  font-weight: bolder;
}

#submitBtn {
  background-color: orange;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#submitBtnDisabled {
  background-color: rgb(153, 153, 153);
  border-radius: 8px;
  color: grey;
}

#cancelBtn {
  border-radius: 8px;
  background-color: red;
  border: none;
  cursor: pointer;
}

.formBtnsContain {
  margin: 20px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;
}

.newClientForm label {
  width: 100%;
  padding: 10px 0 0 0;
}

#closeBtn:hover {
  color: black;
}
