.intervalCompContain {
  box-sizing: border-box;
  padding: 10px;
}

#outerCompContain {
  overflow: auto;
  max-height: 80vh;
  border-radius: 10px;
  padding: 10px;
}

.intervalNotes {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  resize: none;
  font-size: 22px;
  padding: 5px;
}

.noteActivityRating {
  padding: 10px;
  box-sizing: border-box;
}

.timeDiv {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 10px 0 0 0;
}

.countItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 22px;
}

.addMinusBtns {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.addMinus {
  height: 50px;
  width: 50px;
  font-size: 28px;
}

.behaviorsDiv select {
  width: 50%;
}
.behaviorsDiv button {
  width: 50%;
  font-size: 18px;
  background-color: rgb(255, 153, 0);
  border: none;
}

.behaviorsDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 0 10px 0;
  height: 40px;
  gap: 10px;
}

.behaviorsDiv2 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  height: 40px;
  gap: 10px;
}

.narWrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-flow: column wrap;
  align-items: center;
}

.countBox {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.behaviorsDiv select,
.behaviorsDiv2 select {
  font-size: 18px;
}
#addIntervalBtn {
  font-size: 26px;
  width: 100%;
  height: 45px;
  margin: 10px 0 0 0;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
}

.ratingButtons {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.ratingBtn {
  width: 100%;
  padding: 20px;
  font-size: 1.9em;
}

.irDisplay {
  width: 25%;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.narWrap {
  display: flex;
  flex-flow: row nowrap;
}

.ratingDropDown {
  width: 100%;
  height: 30px;
}

.ratingDropDown:hover {
  outline: none;
}
