.mainDisplayContain .button-comp-container {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 20px 0 20px;
  margin: 10px 0;
  cursor: pointer;
  width: calc(50% - 10px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#manageClient {
  background-color: #fdbd3a;
  color: white;
}

#viewReports {
  background-color: #5fb4fe;
  color: white;
}

#dtTrials {
  background-color: #005411;
  color: white;
}

#dailyCharts {
  background-color: #c2440e;
  color: white;
}

#manageClient:hover,
#viewReports:hover,
#dailyCharts:hover,
#dtTrials:hover {
  background-color: black;
}
