/* Extra small devices (phones) */
@media only screen and (max-width: 840px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
}

.addGraphButton button {
  background-color: #881600;
  color: white;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  width: 40%;
}

.addGraphButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid grey;
}
