.newChartModal {
  padding: 10px;
}

.newChartMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.newChartMenu form {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
}
.newChartMenu #clientSelector {
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.newChartMenu #dateInput {
  width: 20%;
  margin: 0;
}

.newChartMenu #createChartBtn {
  width: 20%;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}
.newChartMenu #createChartBtn,
#clientSelector,
#dateInput {
  height: 100%;
  border-radius: 10px;
}
