/* Extra small devices (phones) */
@media only screen and (max-width: 840px) {
  .newChartModal {
    padding: 10px;
    border: 5px solid orange;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;
    width: 80vw;
  }

  .newChartModal h1 {
    text-align: center;
  }
  .newChartMenu {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    align-items: center;
  }

  .newChartMenu #clientSelector {
    text-align: center;
    cursor: pointer;
    height: 50px;
    margin: 0 0 10px 0;
  }

  .newChartMenu #dateInput,
  input {
    margin: 0;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .newChartMenu #cancelBtn {
    background-color: black;
    color: white;
    height: 100%;
  }
  .newChartMenu #createChartBtn {
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: orange;
  }
  .newChartMenu #createChartBtn,
  #dateInput,
  #cancelBtn {
    border-radius: 10px;
  }

  .createBtnsDiv {
    margin: 20px 0 0 0;
    height: 50px;
    display: flex;
    width: 100%;
    justify-items: space-between;
  }

  .createBtnsDiv button {
    flex: 1;
  }
  .newChartMenu p {
    text-align: center;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
  .newChartModal {
    padding: 10px;
    border: 5px solid orange;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;
  }
  .newChartModal h1 {
    text-align: center;
  }

  .newChartMenu {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  .newChartMenu #clientSelector {
    text-align: center;
    cursor: pointer;
    height: 50px;
    margin: 0 0 10px 0;
  }

  .newChartMenu #dateInput,
  input {
    margin: 0;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .newChartMenu #cancelBtn {
    background-color: black;
    color: white;
    height: 100%;
  }
  .newChartMenu #createChartBtn {
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: orange;
  }
  .newChartMenu #createChartBtn,
  #dateInput,
  #cancelBtn {
    border-radius: 10px;
  }
  .newChartMenu p {
    text-align: center;
  }

  .createBtnsDiv {
    margin: 20px 0 0 0;
    height: 50px;
    display: flex;
    width: 100%;
    justify-items: space-between;
  }

  .createBtnsDiv button {
    flex: 1;
  }
}

#dcClientSelect {
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 50px;
  border: 2px solid orange;
  border-radius: 15px;
  font-size: 18px;
}

#clientSelector {
  height: 100%;
  border-radius: 10px;
}

#programNoteInput {
  height: 100%;
  border-radius: 10px;
}

#trialScoreDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

#trialScoreDiv div {
  width: 100%;
  align-items: center;
  text-align: center;
}

#trialScoreDiv label {
  /* margin: 0; */
  position: absolute;
}
.trialNotesDiv .intervalNotes {
  border-radius: 10px;
}

.trialNotesDiv {
  margin: 10px 0 0 0;
}

.dividedDivs {
  /* background-color: red; */
  padding: 10px;
}
