.newChartMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.newChartMenu form {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
}
.newChartMenu select {
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.newChartMenu input {
  width: 20%;
  margin: 0;
}

.newChartMenu button {
  width: 20%;
  cursor: pointer;
  border: none;
}
.newChartMenu button,
select,
input {
  height: 100%;
  border-radius: 10px;
}
