.behaviorsTag {
  display: flex;
  background-color: rgb(196, 22, 22);
  padding: 5px;
  justify-content: space-around;
}

.intervalInfoContain label {
  padding: 0px;
  color: orange;
  width: 100%;
}

.intervalInfoContain {
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
