.behaviorsTag {
  display: flex;
  /* background-color: rgb(196, 22, 22); */
  border: 2px solid rgb(133, 133, 133);
  border-radius: 10px;
  padding: 5px;
  justify-content: space-around;
  margin: 15px 0 0 0;
}

.intervalInfoContain label {
  padding: 0px;
  color: orange;
  width: 100%;
}

.intervalHeader {
  border: 10px solid;
  border-radius: 15px;
  padding: 5px;
}

.chartDetailHeader {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-flow: column wrap; */
  gap: 20px;
  color: white;
}

.intervalInfoContain {
  border-top: none;
  border-bottom: 8px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0 0 0;
  background-color: black;
}

#setChartBtn {
  background-color: orange;
  border: none;

  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

#chartOptionsDiv {
  border: 1px solid rgb(155, 155, 155);
  padding: 10px;
  margin: 20px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

#ratingBg {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}

.intervalCrudBtns {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 0;
  justify-content: left;
}

.intervalCrudBtns button {
  background-color: white;
  color: black;
  height: 30px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  cursor: pointer;
}

.intervalCrudBtns button:hover {
  background-color: white;
  color: black;
}
