.clientInfoContain {
  background-color: rgba(0, 0, 0, 0.417);
  display: flex;
  padding: 20px 20px;
  border-radius: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(156, 156, 156);
  height: 100px;
}

.manageClientsHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.manageClientsHeader h1 {
  width: 50%;
}

.clientData {
  width: 70%;
  padding: 2px 10px;
  color: rgb(255, 255, 255);
}
.btnsContain {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  height: 50px;
}

#viewBtn,
#delBtn,
#editBtn {
  height: 50%;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  margin: 5px 0;
}

#viewBtn {
  background-color: #dfad68;
  color: white;
}

#editBtn {
  background-color: #485665;
  color: white;
}

#delBtn {
  background-color: #881600;
  color: white;
}

#addNewClientBtn {
  width: 50%;
  height: 60px;
  background-color: orange;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#addNewClientBtn:hover {
  background-color: black;
  color: white;
}

#delBtn:hover,
#editBtn:hover,
#viewBtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid rgb(138, 138, 138);
}
