/* Extra small devices (phones) */
@media only screen and (max-width: 840px) {
  .createClient .mainDisplayContain {
    display: flex;
    margin: 0;
  }

  .modalHeading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .modalHeading i {
    cursor: pointer;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 841px) {
  .createClient {
    /* width: 100%;
    display: flex; */
    padding: 30px;
    margin: 0;
    border-radius: 10px;
  }

  .modalHeading {
    /* background-color:red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .modalHeading i {
    cursor: pointer;
  }
}

#clientNotes {
  width: 100%;
  font-size: 16px;
  resize: none;
}

.formButton {
  width: 50%;
  height: 5vh;
  font-size: 1.2em;
  font-weight: bolder;
}
.formButtonDisabled {
  width: 50%;
  height: 5vh;
  font-size: 1.2em;
  font-weight: bolder;
}

#submitBtn {
  background-color: orange;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#submitBtnDisabled {
  background-color: rgb(153, 153, 153);
  border-radius: 8px;
  color: grey;
}

#cancelBtn {
  border-radius: 8px;
  /* background-color: red; */
  border: none;
  cursor: pointer;
}

.formBtnsContain {
  margin: 20px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;
}

.newClientForm label {
  /* width: 100%; */
  padding: 10px 0 0 0;
}

#closeBtn {
  position: absolute;
  right: 35px;
  top: 70px;
  cursor: pointer;
}

#closeBtn:hover {
  color: black;
}
