.clientDCdata {
  display: flex;
  flex-flow: row wrap;
}

.dcButtons {
  border: 1px solid rgb(113, 113, 113);
  padding: 0px 10px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.navLinkStyleDC {
  color: white;
  text-decoration: none;
}
