.clientDCdata {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 0 10px 0;
}

.chartsContain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0 0 0;
}

.chartCrudBtns {
  display: flex;
  gap: 5px;
  margin: 5px 0 0 0;
  justify-content: center;
}

.dcButtons {
  border: 1px solid rgb(113, 113, 113);
  padding: 0px 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../FolderImage.png");
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  flex: 1 1 calc((100% - 16px) / 3);
  max-width: calc((100% - 16px) / 3);
  min-width: 200px;
  /* padding: 5px 150px; */
  box-sizing: border-box;
  margin: 8px;
}

.navLinkStyleDC {
  color: white;
  text-decoration: none;
}

.legendCompContain {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#legend {
  /* display: flex;
  flex-flow: row wrap; */
  /* align-items: center; */
  width: 20%;
  padding: 0;
  /* justify-content: center; */
}

#colors {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(180, 180, 180);
  margin: 0 0 0 20px;
  display: flex;
  flex-flow: row nowrap;
}

.color {
  width: 100%;
  text-align: center;
  height: 100%;
  font-weight: bold;
}

.dcHeader {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#createNewChartBtn {
  width: 20vw;
  height: 50px;
  background-color: #881600;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
