/* TODO: Add sitewide styles */
/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
  .navLinkStyle {
    color: white;
    font-size: 16px;
    color: orange;
    position: relative;
    right: 0px;
    top: 0px;
  }
  .logo-image {
    min-width: 35%;
    max-width: 45%;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 601px) {
  .navLinkStyle {
    color: white;
    font-size: 16px;
    color: orange;
  }
  .logo-image {
    min-width: 15%;
    max-width: 25%;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  font-size: 16px;
  /* margin: 0 0 100px 0; */
}

body {
  padding: 20px 0px;
  max-width: 90%;
  min-width: 60%;
  margin: 0 auto;
  background-image: url("../asd-puzzle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  /* margin: 0 0 100px 0; */
}
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1 {
  font-size: 2em;
}

label {
  font-size: 1em;
}

.errorsPtag {
  color: red;
  font-weight: bold;
  /* background-color: red; */
  padding: 4px;
  text-align: center;
  border-radius: 8px;
}

.logo-image-login {
  width: 100%;
}

.formErrors {
  color: red;
  background-color: rgb(58, 58, 58);
  padding: 5px;
}
