body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.logo-image-login {
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 0 100px 0;
}

.mainDisplayContain {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  min-width: 100%;
  margin: 0 auto;
  background-image: url("../asd-puzzle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

.logo-image {
  height: 6vh;
  cursor: pointer;
  margin: 0 0 10px 0;
}
