/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
  #clientDetails {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .clientDetailsContain {
    box-sizing: border-box;
  }

  #clientDetails h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 0 0 10px 0;
  }

  .clientDetailsContain div {
    padding: 5px 0;
  }

  .detailsLabels {
    padding: 0 10px 0 0;
    color: orange;
  }

  .btnsContain {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 10px;
  }

  .btnsContain #editBtn,
  #viewBtn,
  #delBtn {
    /* width: 33%; */
    flex: 1;
    height: 100%;
    border-radius: 9px;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 601px) {
  #clientDetails {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .clientDetailsContain {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 20px 0;
  }

  #clientDetails h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 0 0 10px 0;
  }

  .clientDetailsContain div {
    padding: 5px 0;
  }

  .detailsLabels {
    padding: 0 10px 0 0;
    color: orange;
  }

  .btnsContain {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .btnsContain #editBtn,
  #viewBtn,
  #delBtn {
    /* width: 33%; */
    flex: 1;
    height: 100%;
    border-radius: 9px;
  }
}
